input.ap_form_autocompite {
background:#FFF url("../../../img/16/down_mini.png") right no-repeat;
}

div.ap_form_autocompite_mainDiv{
display:none;
min-width:250px;
width:100%;
position:absolute;
margin-top:2px;
-moz-border-radius: 4px; 
-webkit-border-radius: 4px; 
border-radius: 4px;
background:#EEE;
border:#999 solid 1px;
white-space:nowrap;

z-index:99999;

filter: alpha(opacity=95);
-moz-opacity: 0.95;
-khtml-opacity: 0.95;
opacity: 0.95;
}


div.ap_form_autocompite_select input{
width:250px;
}

div.ap_form_autocompite_mainDiv span.message {
display: block;
padding: 10px;
}

div.ap_form_autocompite_mainDiv span.message img {
margin-right: 15px;
}

div.ap_form_autocompite_mainDiv div a {
display:block;
width:auto;
height:20px;
line-height:20px;
background:#FAFAFA;
margin-top:1px;
padding:2px 7px 2px 7px;
cursor:pointer;
-moz-border-radius: 4px; 
-webkit-border-radius: 4px; 
border-radius: 4px;
text-decoration:none;
color:#333;
}

div.ap_form_autocompite_mainDiv div a i {
color: #c53727;
}

div.ap_form_autocompite_mainDiv div a:hover{
background:#FFE28C;
color:#000;
}



div.ap_form_autocompite_mainDiv div.ap_form_autocompite_Close{

    float: right;
}

div.ap_form_autocompite_mainDiv div.ap_form_autocompite_Close a {
cursor:pointer;
position:relative;
left:24px;
top:-7px;
    font-size: 16px;
}

div.ap_form_autocompite_mainDiv div.ap_form_autocompite_Close img:hover{
filter: alpha(opacity=60);
-moz-opacity: 0.6;
-khtml-opacity: 0.6;
opacity: 0.6;
}
