textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
select,
.uneditable-input {

    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    transition: border linear 0.2s, box-shadow linear 0.2s;
    padding: 5px;
    line-height: 120%;
}

textarea:focus,
select:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select:focus,
.uneditable-input:focus {
    border-color: #3276B1;
    outline: 0;
    outline: thin dotted \9;
    /* IE6-9 */

    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
}

input[type="radio"],
input[type="checkbox"] {
    margin: 0;
    vertical-align: middle;
}

input[type="file"],
input[type="image"],
input[type="submit"],
input[type="reset"],
input[type="button"],
input[type="radio"],
input[type="checkbox"] {
    width: auto;
}


div.preview_div {
    overflow: hidden;
    margin-top: 5px;
}

div.preview_div > h1 {
    font-size: 14px;

    margin: 0px;
    line-height: 100%;
    color: #EEE;
    padding: 7px 5px 5px 10px;
}

div.preview_div > table {
    width: 100%;
    margin-top: 1px;
    margin-bottom: 15px;
    border-top: #E5E5E5 solid 1px;
}

div.preview_div > table td {
    white-space: nowrap;
    color: #333;
    padding: 3px;
    border-bottom: #E5E5E5 solid 1px;
    background: #F5F5F5;
    font-size: 12px;
    line-height: 18px;
}

div.preview_div > table td:first-child {
    width: 5%;
    padding: 3px;
    padding-right: 7px;
    padding-left: 5px;
    color: #777;
    background: #EEE;
    font-size: 11px;
    white-space: nowrap;
}

div.preview_div > table td:last-child {
    padding-left: 7px;
}

ul.breadcrumb > li > i.icon-angle-right {
    margin-right: 7px;
    margin-left: 8px;
    color: #CCC;
}

ul.breadcrumb > li > span.sub-breadcrumbs {
    margin-left: 9px;
    color: #CCC;
    font-size: 10px;
}

ul.breadcrumb > li > span.sub-breadcrumbs > a {
    font-size: 10px;
    color: #666;
    margin: 0 2px 0 2px;
}

.margin-right-10 {
    margin-right: 10px !important;
}

.margin-right-15 {
    margin-right: 15px !important;
}

.margin-right-20 {
    margin-right: 20px !important;
}

.console-btn {
    background:none;
    color:#888;
    border: 0;
    padding: 0 5px 0 5px;
}

.console-btn:hover {
    color: #ffb848;
}

table.table > tfoot > tr > th {
    border: 0;
}

table.table > tfoot > tr:first-child > th {
    border-top: #C5C5C5 solid 1px;
}

h1.h_border,
h2.h_border,
h3.h_border,
h4.h_border,
h5.h_border {
    border-bottom: #EEE solid 1px;
    padding: 0 0 3px 7px;
    margin-bottom: 10px;
}

ul.topmenu li {
    float: left;
}

ul.topmenu > li > a {
    float: left;
    color: #EEE;
}

ul.topmenu li > a {
    padding: 13px 15px 13px 15px !important;
    font-size: 14px;
    line-height: 22px;
    font-family: 'Open Sans', sans-serif;
    color: #CCC;
}

ul.topmenu li > a:hover {
background: #37434f;
}

ul.topmenu > li.activeTopMenuElement > a {
    color: #e9e9e9;
    padding: 10px 15px 14px 15px !important;
    border-top: #059ddd solid 3px;
}

ul.topmenu li div.topmenuDropDownBlock {
    position: absolute;
    top: 48px;
    left: 0;
    padding: 0;
    display: none;
    cursor: default;
    font-size: 13px;
}

ul.topmenu li div.topmenuDropDownBlock > div {
    background: #37434f;
    padding: 0;
    color: #E5E5E5;
    float: none;
    display: block;
}

ul.topmenu li div.topmenuDropDownBlock > div > table td {
    padding: 10px 30px 25px 30px;
    min-width: 120px;
    vertical-align: top;
}

ul.topmenu li div.topmenuDropDownBlock h5 {
    color: #CCC;
    border-bottom: #4a5a66 solid 1px;
    white-space: nowrap;
    padding-bottom: 0;
    padding-left: 5px;
    margin-bottom: 5px;
    font-size: 12px;
    float: none;
}

ul.topmenu li div.topmenuDropDownBlock h4 {
    color: #DDD;
    border-bottom: #657e8a solid 1px;
    white-space: nowrap;
    padding: 0 6px 4px 6px;
    margin-bottom: 8px;
    font-size: 16px;
    display: block;
    float: none;
}

ul.topmenu li div.topmenuDropDownBlock a {
    color: #EEE;
    font-size: 95% !important;
    background: none;
    margin: 0;
    white-space: nowrap;
    display: block;
    padding: 1px !important;
}

ul.topmenu li div.topmenuDropDownBlock a:hover {
    color: #FFF;
}

.smart-style-3 nav ul.topmenuLeft{
    border-top: 1px solid #425060;
}

.smart-style-3 nav ul.topmenuLeft li {
    background: #2C3742;
    border-bottom: 1px solid #425060;
}
.smart-style-3 nav ul.topmenuLeft li a  {
    color: #EEE !important;
}

/* table */

.table>thead>tr>th{
    border-bottom: 0 !important;
}

.table thead tr th:first-child {
    border-left: #DDD solid 1px;;
}

.table thead tr th:last-child{
    border-right: #DDD solid 1px;;
}

.table thead tr th {
    font-size: 12px;
    font-weight: 600;
    background: #EEE;
}

.table thead tr th.table_head2 {
    border: 0;
    padding: 0;
    background: none;
}

.table thead tr th.table_head2 div {
    border: #DDD solid 1px;
    border-width: 1px 1px 0 1px;
    text-align: center;
    padding: 10px 5px 7px 5px;
    background: #F9F9F9;
    margin: 0 2px 0 2px;
    border-radius: 10px 10px 0 0 !important;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 20px;
    font-weight: 300;
}


table.ap_table_nowrap td, table.ap_table_nowrap th{
    white-space: nowrap;
}

table th.table_help_td i.help_icon {
    font-size: 11px;
    line-height: 14px;
    color: #0A0;
}

table th.table_help_td:hover {
    background: #DDD;
}

table th.table_help_td:hover i.help_icon{
    color: #bb2413;
}

.table-striped>tbody>tr:nth-child(odd)>td, .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: #f9f9f9;
}

.table-striped>tbody>tr:nth-child(even)>td, .table-striped>tbody>tr:nth-child(even)>th {
    background-color: #ffffff;
}

table.table > tfoot > tr > th {
    background: #fff;
}

div.table_help_div{
    visibility: hidden;
    position: absolute;
    margin-top: 5px;
    margin-left: -10px;
    padding: 15px;
    max-width: 300px;
    text-align: left;
    font-weight: normal;
    font-size: 13px;
}

.table-hover>tbody>tr:hover>td, .table-hover>tbody>tr:hover>th {
    background-color: #EAEAEA;
}

table th.table_help_td:hover div.table_help_div{
    visibility: visible;
    background: #feffd6;
    border: #DDD solid 1px;
    white-space: normal;
}

span.more div{
    display:none;
    position: absolute;
}

span.more:hover div{
    display: block;
}

span.more div div {
    position:relative;
    background: #feffd6;
    padding: 4px 25px 5px 5px;
    top:-5px;
    left:-5px;
    cursor: text;
    border: #AAA solid 1px;
    border-width: 1px 0 1px 0;
}


@media print{
    .hidden-print{
        display:none !important
    }
}

.label {
    font-size: 90%;
}

span.sub-breadcrumbs {
    padding: 0 10px 0 10px;
    font-size: 10px;
    color: #CCC;

}

.smart-style-3 #ribbon span.sub-breadcrumbs > a {
    color: #AAA !important;
}

.form-actions{
    padding: 20px;
    text-align: left;
}

/***
jqvmap changes
***/
.jqvmap-zoomin {
    background-color: #666 !important;
}

.jqvmap-zoomout {
    background-color: #666 !important;
}

.vmaps {
    position: relative;
    overflow: hidden;
    height: 300px;
}

.jqvmap-zoomin, .jqvmap-zoomout {
    box-sizing: content-box;
}


/* tabs */
.tabbable-custom > .tab-content {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 10px;
}



/* table */

.ap_table_btns_panel {
    text-align: right;
    padding: 0 0 10px 0;
}

.dataTable td.details {
    background-color: #FFF !important;
    padding-bottom: 40px;
    display: none;
}

/* paging */
.label-transparent,
a.label-transparent:hover,
a.label-transparent:focus,
.badge-transparent {
    background: transparent;
    border: #F5F5F5 solid 1px;
    color: #222;
    padding: 1px 3px;
}

div.lang_bottom {
    position: relative; top: -7px;
}

div.lang_bottom a{
    color: #DDD;
}
div.lang_bottom a:hover{
    color: #FFF;
}

div.dataTables_wrapper {
    border: 0;
}

div.dt-toolbar {
    border: #DDD solid 1px;
    margin-bottom: 10px;
}

.todo_cpr_text {
    background: #FFE28C;
    border: #FFAE00 dashed 1px;
    padding: 10px;
}

div.not_agree_documents {

}

@media (min-width: 992px) and (max-width: 1199px) {
    .container.fixed-header #header {
        width: 964px;
    }
}

@media (min-width: 980px) and (max-width: 991px) {
    .container.fixed-header #header {
        width: 744px;
    }
}

.btn-order{color:#fff;background-color: #bd524f;border-color:#900323}
.btn-order:focus,.btn-order:hover{color:#fff;background-color: #a34744;border-color:#540114}
.btn-order i {padding-right: 5px}
