div.ap_tabs{
border: 0;
}

div.ap_tabs > a {
padding: 12px 15px 8px 15px;
margin: 0 5px 0 0;
text-decoration: none;
color: #888;
font-size: 14px;
    border: 0;

display: block;
float: left;
position: relative;
}

div.ap_tabs > a:hover {
    color: #000;
}

div.ap_tabs a.activeTab {
color: #000;
background: #FFF;
border: #DDD solid 1px;
border-top: #e02222 solid 3px;
border-bottom: #FFF solid 1px;
padding: 8px 14px 8px 14px;
top: 1px;
}

div.ap_tabs_content {
    border: #DDD solid 1px;
    padding: 10px;
    clear: both;
    margin-bottom: 10px;
}

div.ap_tabs_separator {
    border-top: #DDD solid 1px;
    padding: 0;
    clear: both;
    margin-bottom: 20px;
}