table.tbl_simple {
    width: 100%;
}

table.tbl_simple > tbody > tr > td {
    vertical-align: top;
    text-align: left;
    padding: 3px 10px 3px 10px;
    border-top: #EEE solid 1px;
}

table.tbl_simple > tbody > tr:first-child > td {
    border-top: 0;
}

table.tbl_simple > tbody > tr > td:first-child {
    white-space: nowrap;
    width: 1%;
    color: #888;
    padding-left: 20px;
    font-size: 85%;
}