table.tbl_statuses {
    width: auto;
}

table.tbl_statuses > tbody > tr > td {
    vertical-align: top;
    text-align: left;
    padding: 3px;
    border: 0;
}

table.tbl_statuses > tbody > tr > td:first-child {
    white-space: nowrap;
    padding-right: 7px;
    width: 1px;
}